@tailwind base;

@tailwind components;

@tailwind utilities;


@keyframes interChangeOne {
   0%{
      transform: translateX(50%);
   }
   25%{
      transform: translateX(100%)
   }
   50%{
      transform: translateX(50%)
   }
   75%{
      transform: translateX(0%);
   }
   100%{
      transform: translateX(50%);
   }
}

@keyframes interChangeTwo {
   0%{
      transform: translateX(-50%);
   }
   25%{
      transform: translateX(-100%)
   }
   50%{
      transform: translateX(-50%)
   }
   75%{
      transform: translateX(0%);
   }
   100%{
      transform: translateX(-50%);
   }
}

.bgTransformationOne{
   width: 100%;
   height: 100%;
   z-index: -1;
   position: absolute;
   top: 0;
   left: 0;
   display: flex;
}

.bgTransformationOneLeft{
   height: 100%;
   width: 100%;
   background: linear-gradient(129.47deg, #F6D242 -4.57%, #FF52E5 102.29%);
   opacity: 0.1;
   filter: blur(172px);
   /* transform: matrix(-1, 0, 0, 1, 0, 0); */
   animation: interChangeOne 4s ease-in-out infinite;

}

.bgTransformationOneRight{
   height: 100%;
   width: 100%;
   background: linear-gradient(132.88deg, #ABDCFF 2.24%, #0396FF 104.79%);
   opacity: 0.1;
   filter: blur(56px);
   transform: matrix(-1, 0, 0, 1, 0, 0);
   animation: interChangeTwo 4s ease-in-out infinite;

}