@import '/public/fonts/stylesheet.css';
@tailwind base;

@tailwind components;

@tailwind utilities;

:root {
   --Main: #FF6EFF;
   --Secondary: #0AB7F6;
   --GradientOne: linear-gradient(98.41deg, #23262E 0%, #FF706B 100%);
   --GradientTwo: linear-gradient(98.41deg, #FF6661 0%, #FCD1CA 100%);
   --PrimaryOne: #FF6661;
   --PrimaryTwo: #FF9D8D;
   --PrimaryThree: #FCD1CA;
   --LearnPapayaText: #F9FAFB;
   --LearnPapayaText2: #9CA3AF;
   --BackboneText: #23262E;
   --BackboneText1: #555555;
   --FooterBg: #131313;
   --FooterText: #9CA3AF;
   --FooterText2: #C4C4C4;
   --FooterText3: #FFFFFF;
   --MessageSent: #002F31;
   --MessageSentTwo: #4A5567;
}

html {
   scroll-behavior: smooth;
}

label,
input,
button {
   @apply cursor-default;
}

body {
   font-family: "Casper", sans-serif;
   @apply cursor-default;
}

@keyframes interChangeOne {
   0% {
      transform: translateX(50%);
   }

   25% {
      transform: translateX(100%)
   }

   50% {
      transform: translateX(50%)
   }

   75% {
      transform: translateX(0%);
   }

   100% {
      transform: translateX(50%);
   }
}

@keyframes interChangeTwo {
   0% {
      transform: translateX(-50%);
   }

   25% {
      transform: translateX(-100%)
   }

   50% {
      transform: translateX(-50%)
   }

   75% {
      transform: translateX(0%);
   }

   100% {
      transform: translateX(-50%);
   }
}

.bgTransformationOne {
   width: 100%;
   height: 100%;
   z-index: -1;
   position: absolute;
   top: 0;
   left: 0;
   display: flex;
}

.bgTransformationOneLeft {
   height: 100%;
   width: 100%;
   background-image: url('../public/assets/orang-hero-section-min.png');
   background-position: left center;
   background-repeat: no-repeat;
   background-size: cover;
   filter: blur(172px);
   animation: interChangeOne 4s ease-in-out infinite;
   border-radius: 70% 68% 48% 48% / 28% 28% 72% 72%;

}

.bgTransformationOneRight {
   height: 100%;
   width: 100%;
   background-image: url('../public/assets/blue-hero-section-min.png');
   background-position: right center;
   background-repeat: no-repeat;
   background-size: cover;
   filter: blur(56px);
   animation: interChangeTwo 4s ease-in-out infinite;

}

.cardsContainer::-webkit-scrollbar,
.productCards::-webkit-scrollbar {
   display: none;
}


.customInfoWrapper::-webkit-scrollbar {
   width: 10px !important;

}

.customInfoWrapper::-webkit-scrollbar-button {
   height: 100px !important;
   max-height: 100px !important;
   margin: auto;
}

.customInfoWrapper::-webkit-scrollbar-track {
   background: #E5E7EB !important;
   border-radius: 50px !important;

}

.customInfoWrapper::-webkit-scrollbar-thumb {
   background: #9BA8AF !important;
   border-radius: 50px !important;

}